#!/usr/bin/make -f

DPKG_EXPORT_BUILDTOOLS := 1
include /usr/share/dpkg/buildtools.mk

export DEB_BUILD_MAINT_OPTIONS=hardening=+all

export pamdir=/lib/$(DEB_HOST_MULTIARCH)/security

%:
	dh $@

override_dh_makeshlibs:
override_dh_shlibdeps:
